* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('./assets/morning.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease_out;
}

.App.night {
  background-image: url('./assets/night.jpg');
}


main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 25px 0 100px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 0 75px;
  appearance:none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 16px 16px 16px;
  margin-top: -25px;
  color: #010101;
  font-size: 20px;
  transition: 0.4s ease;
}
