* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('./assets/morning.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease_out;
}

.App_night {
  background-image: url('./assets/night.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease_out;
}


main {
  min-height: 100vh;
  margin: 25px 25px 25px 25px;
  display: grid;
  grid-auto-flow: row;
}

.search-box {
  grid-column: 1;
  grid-row: 1;
  padding: 25px;
  width: 50%;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance:none;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 1) none;
  border-radius: 16px 16px 16px 16px;
  margin: 25px 0 0px;
  color: #010101;
  font-size: 28px;
  transition: 0.4s ease;
}

.data-box {
  margin: 25px 25px 25px 25px;
  padding: 25px;
  font-size: 24px;
  font-weight: 500;
  background-color:black;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  border: 4px solid black;
}

table th {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

table td {
  border: 2px solid black;
  padding: 5px;
  text-align: right;
}

tr:nth-child(odd) {
  background-color:darkgray;
}

tr:nth-child(even) {
  background-color:lightgray;
}
